{% extends "layout.html" %}

{% block title %}
    Add filmes
{% endblock %}

{% block main %}

<div class="container" style=" margin-top:2%">
    <div class="row">
        <div class="col">
            <h2 class="mt-5" style="font-family: 'DM Serif Display', serif;">Add film to generate base</h2>
            <form action="/add" method="post" style="margin-top: 15%;" class="needs-validation" >
                <div class="row">
                    <div class="col">
                        <div class="mb-4">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="title" name="title" placeholder="Ttile" type="text" required>
                        </div>
                        <div class="invalid-feedback">
                            You can`t leave this field empty.
                          </div>
                    </div>
                    <div class="col">
                        <div class="mb-4">
                            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="rating" name="rating" placeholder="Rating" type="number" step="0.01" required>
                        </div>
                        <div class="invalid-feedback">
                            You can`t leave this field empty.
                          </div>
                    </div>
                </div>
                <div class="mb-4">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-75" id="site_rating" name="site_rating" placeholder="Director(optional)" type="text">
                </div>
                <div class="gap-4 mx-auto mb-4">
                    <input type="text" list="genre"  class="form-control mx-auto w-75" name="genre" placeholder="Genre"  required/>
                    <datalist id="genre" name="genre">
                        {% for genre in genres %}
                            <option value="{{genre['genre']}}">{{genre['genre']}}</option>
                        {% endfor %}
                    </datalist>
                    <div class="invalid-feedback">
                        You can`t leave this field empty.
                      </div>
                </div>
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-75" id="image" name="image" placeholder="image" type="text" required>
                </div>
                <div class="invalid-feedback">
                    You can`t leave this field empty.
                  </div>
                <button class="button-37 orange" type="submit">Add film</button>
            </form>
        </div>
        <div class="col">
            <img src="static/img/form.jpg" alt="cinema" style="border: 1px solid; border-radius:15px;">
        </div>
    
</div>
</div>

{% endblock %}