{% extends "layout.html" %}

{% block head %}
<script src="https://kit.fontawesome.com/2905b66f44.js" crossorigin="anonymous"></script>
{% endblock %}

{% block title %}
messages
{% endblock %}

{% block main %}

<body>
    <script type="text/javascript">
        $(document).ready(function () {
            let intervalId = window.setInterval(function () {
                var elem = document.getElementById('chat');
                elem.scrollTop = elem.scrollHeight;
            });
            setTimeout(function () {
                window.clearInterval(intervalId);
            }, 500);
        });

    </script>
    <div id="chat">
        <h3><u>CHAT</u></h3>

        <div id="messages">
            {% for i in messages %}
            <p>{{ i["time"] }} : {{ i["sendername"] }} : {{ i ["message"] }}</p>
            {% endfor %}
        </div>
    </div>
    <form action="/chat" method="post">
        <input type="text" id="message" name="message" placeholder="Message" class="shadow-sm bg-body rounded" autofocus required autocomplete="off">
        <button id="sendBtn" class="button-28">Send</button>
    </form>
</body>
{% endblock %}