{% extends "layout.html" %}

{% block title %}
    Generate
{% endblock %}

{% block main %}
    <div class="container-fluid" style="margin-top: 2%">
        <div class="row">
            <div class="col-6">
                <img src="{{ film[0]['image'] }}" alt="filmtitle" style="width: 55%;">
            </div>
            <div class="col-4 card h-100"  >
                    {% for i in film %}
                    <h2 > {{ i["title"] }} </h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Rating: {{ i["rating"] }} </li>
                        <li class="list-group-item">User's rating: {{ i["stie_rating"] }} </li>
                        <li class="list-group-item">Genre: {{ i["custom_genre"] }} </li>
                    </ul>
                    {% endfor %}
                <div class="card-body" style="font-size: 1.4vw; padding-top: 70%;">
                    <a href="/" class="btn btn-warning">Generate again</a>
                    <a href="#" class="btn btn-warning">Watched</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}