{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}

{% block title %}
    Generate
{% endblock %}


{% block main %}
  <ul class="nav nav-tabs" id="nav-tab" role="tablist">
    <li class="active"><a data-toggle="tab" href="#watched">Watched</a></li>
    <li><a data-toggle="tab" href="#later">Watch Later</a></li>
  </ul>

  <div class="tab-content">
    <div id="watched" class="tab-pane fade in active">
      <table class="table">
        <thead>
          <th class="text-start">Title</th>
          <th class="text-start">Genre</th>
          <th class="text-end">User's rating</th>
          <th class="text-end">Rating (IMDb)</th>
        </thead>
        <tbody>
            {% for watch in watched %}
                <tr>
                    <td class="text-start">{{ watch['title'] }}</td>
                    <td class="text-start">{{ watch['genre'] }}</td>
                    <td class="text-end">{{ watch['site_rating'] }}</td>
                    <td class="text-end">{{ watch['rating'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="later" class="tab-pane fade">
            <table class="table">
        <thead>
          <th class="text-start">Title</th>
          <th class="text-start">Genre</th>
          <th class="text-end">User's rating</th>
          <th class="text-end">Rating (IMDb)</th>
        </thead>
        <tbody>
            {% for late in laters %}
            <tr>
              <td class="text-start">{{ late['title'] }}</td>
              <td class="text-start">{{ late['genre'] }}</td>
              <td class="text-end">{{ late['site_rating'] }}</td>
              <td class="text-end">{{ late['rating'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}