{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/2905b66f44.js" crossorigin="anonymous"></script>
  <style type="text/css">
    .navbar-brand{
      position: absolute;
      left: 2% !important;
    }
    .navbar-toggler{
      position: absolute;
      right: 2% !important;
      top:50%;
    }
  </style>
    <script>
      document.addEventListener("DOMContentLoaded", function(event) {
          let width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
          if (width < 800) {
              document.getElementById("707").style.margin = "7.5px 0px";
              

              const nodeList = document.querySelectorAll(".navbar-nav>li>a");
              for (let i = 0; i < nodeList.length; i++) {
                nodeList[i].style.paddingTop = "20px";
              }

              const formFont = document.querySelectorAll("#formfont");
              for (let i = 0; i < formFont.length; i++) {
                formFont[i].style.fontSize = "13px";
              }
          }
      });
    </script>
{% endblock %}

{% block title %}
    Generate
{% endblock %}


{% block main %}
  <ul class="nav nav-tabs" id="nav-tab" role="tablist">
    <li class="active"><a data-toggle="tab" href="#watched">Watched</a></li>
    <li><a data-toggle="tab" href="#later">Watch Later</a></li>
  </ul>

  <div class="tab-content">
    <div id="watched" class="tab-pane fade in active">
      <table class="table">
        <thead>
          <th class="text-start">Title</th>
          <th class="text-start">Genre</th>
          <th class="text-end">User's rating</th>
          <th class="text-end">Rating (IMDb)</th>
        </thead>
        <tbody>
            {% for watch in watched %}
                <tr>
                    <td class="text-start">{{ watch['title'] }}</td>
                    <td class="text-start">{{ watch['genre'] }}</td>
                    <td class="text-end">{{ "%.2f"|format(watch['site_rating']) }}</td>
                    <td class="text-end">{{ watch['rating'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <div id="later" class="tab-pane fade">
            <table class="table">
        <thead>
          <th class="text-start">Title</th>
          <th class="text-start">Genre</th>
          <th class="text-end">User's rating</th>
          <th class="text-end">Rating (IMDb)</th>
          <th class="text-end">Watched</th>
        </thead>
        <tbody>
            {% for late in laters %}
            <tr>
              <td class="text-start">{{ late['title'] }}</td>
              <td class="text-start">{{ late['genre'] }}</td>
              <td class="text-end">{{ "%.2f"|format(late['site_rating']) }}</td>
              <td class="text-end">{{ late['rating'] }}</td>
              <td class="text-end">
                <form id="formfont" action="/add_to_watched" method="post" style="font-size: 20px;">
                    <input type="radio" name="rate" id="{{ late['id']}}-5" value="5.0" style="display: none;">
                    <label for="{{ late['id']}}-5">★</label>
                    <input type="radio" name="rate" id="{{ late['id']}}-4" value="4.0" style="display: none;">
                    <label for="{{ late['id']}}-4">★</label>
                    <input type="radio" name="rate" id="{{ late['id']}}-3" value="3.0" style="display: none;">
                    <label for="{{ late['id']}}-3">★</label>
                    <input type="radio" name="rate" id="{{ late['id']}}-2" value="2.0" style="display: none;">
                    <label for="{{ late['id']}}-2">★</label>
                    <input type="radio" name="rate" id="{{ late['id']}}-1" value="1.0" style="display: none;">
                    <label for="{{ late['id']}}-1">★</label>
                    <button type="submit" class="btn btn-dark" name="watched" style="margin-left:10%; padding: 5px 10px;" value="{{ late['id'] }}">Add</button>
                </form>
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% endblock %}