{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<div style="margin-top: 10%">
    <h6 style="color: grey; font-family: 'DM Serif Display', serif; margin-bottom: 3%;">Password must be at least 8 characters (digits, English letters in upper and lowercase)</h6>
    <form action="/register" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="button-37 orange" type="submit">Register</button>
        <a href="/login" class="button-28 login">Log in</a>
    </form>
</div>
{% endblock %}
